.viewer {
  margin-top: 30px;
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.lHnXp {
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  border: 3px solid rgba(249, 249, 249, 0.1);
  box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px,
    rgb(0 0 0 / 73%) 0px 16px 10px -10px;
}
.lHnXp > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.lHnXp:hover {
  transform: scale(1.05);
  cursor: pointer;
  border: 3px solid rgba(249, 249, 249, 0.8);
}
